/*! Level 0.0.0 • Mobify.com • MIT License */

// Document
// ---

// 1. Prevent iOS text size adjust after orientation change, without disabling
//    user zoom.

html {
    -ms-text-size-adjust: 100%; // 1
    -webkit-text-size-adjust: 100%; // 1
}

// Remove default margin in all browsers.

body {
    margin: 0;
}


// New HTML5 elements
// ---

// Correct `block` display not defined for `main` in mobile Safari 6 and
// Android 4.3.

main {
    display: block;
}

// Normalize vertical alignment of `progress` in Chrome and Firefox.

audio,
canvas,
progress,
video {
    vertical-align: baseline;
}

// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.

audio:not([controls]) {
    display: none;
    height: 0;
}

// Hide the `template` element in mobile Safari.

template {
    display: none;
}


// Text-level semantics
// ---

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.

b,
strong {
    font-weight: bold;
}

// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

// Address inconsistent and variable font size in all browsers.

small {
    font-size: 80%;
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


// Grouping content
// ---

// Address margin not present in Safari.

figure {
    margin: 1em 40px;
}

// Address differences between Firefox and other browsers.

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

// Contain overflow in all browsers.

pre {
    overflow: auto;
}

// Address odd `em`-unit font size rendering in all browsers.

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


// Forms
// ---

// 1. Correct color not being inherited. Known issue: affects color of disabled
//    elements.
// 2. Correct font properties not being inherited.
// 3. Address margins set differently in Firefox 4+, Safari, and Chrome.

button,
input,
optgroup,
select,
textarea {
    color: inherit; // 1
    font: inherit; // 2
    margin: 0; // 3
}

// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Firefox and Opera. Correct `select`
// style inheritance in Firefox.

button,
select {
    text-transform: none;
}

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.

button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; // 2
}

// Remove inner padding and border in Firefox 4+.

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Address Firefox 4+ setting `line-height` on `input` using `!important` in
// the UA stylesheet.

input {
    line-height: normal;
}

// 1. Address `appearance` set to `searchfield` in Safari and Chrome.

input[type="search"] {
    -webkit-appearance: textfield; // 1
}

// Remove inner padding and search cancel button in Safari and Chrome on OS X.
// Safari (but not Chrome) clips the cancel button when the search input has
// padding (and `textfield` appearance).

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

// Zero out border, margin, and padding.

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// Remove padding so people aren’t caught out if they zero out fieldsets.

legend {
    padding: 0;
}


// Tables
// ---

// Remove most spacing between table cells.

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}
